body {
    margin: 0;
    border: 0;
    padding: 0;
}

#bodybox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#switchbox {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    position: absolute;
    /* opacity: 0; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1b1b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url(../images/sun.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e3e3e3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #e3e3e3;
}

input:checked + .slider:before {
    background-image: url(../images/moon.png);
    background-color: #1b1b1b;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#contentbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textbox {
    height: 120px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

#hidetxt {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}